strands-agents[openai]
strands-agents[openai]
uv
langchain[aws]
langgraph
langsmith[otel]
duckduckgo-search 
langchain-community
opentelemetry-instrumentation-langchain
starlette
uvicorn
boto3
bedrock-agentcore
bedrock-agentcore-starter-toolkit
