strands-agents[openai]
strands-agents[openai]
requests
PyYAML
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
fastmcp
pydantic
bedrock-agentcore
bedrock-agentcore-starter-toolkit
botocore
boto3
openai==1.59.7
